:root {
  --text-color: #333;
  --background-color: white;
  --primary-color: rgb(255, 89, 0);

  --dark-text-color: #d8d4d7;
  --dark-background-color: #0a070c;
}

body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-color);
  color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);
  }

  a {
    color: var(--dark-text-color);
  }
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

nav ul {
  display: flex;
}

nav ul a {
  margin-inline: 10px;
}

#logo {
  color: var(--primary-color);
}

#nav__ {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 65%;
  margin-inline: auto;

  padding: 15px 0;
}

.view_cart_link {
  position: relative;
}

.view_cart_link::after {
  content: attr(data-items-added);
  background-color: var(--primary-color);
  font-weight: bold;
  color: #fff;
  padding: 4px;
  width: 15px;
  height: 15px;
  position: absolute;
  text-align: center;
  margin: auto;
  border-radius: 100%;
  top: -10px;
  right: -20px;

  display: grid;
  place-content: center;
}

/* Feed */
#body__con {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 0.5rem;
  width: 65%;
  margin-inline: auto;

  margin-top: 40px;
}

#market__place__con {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.6rem;
}

.item__img {
  height: 150px;
  overflow: hidden;
}

.item__preview {
  padding: 10px;
  border: 1px rgba(139, 139, 139, 0.552) solid;
  border-radius: 10px;
  overflow: hidden;

  transition: all 0.4s;
  text-align: center;
  align-self: start;
}

.item__preview:hover {
  box-shadow: 1px 3px 5px rgba(70, 70, 70, 0.532);
  cursor: pointer;
}

.item_seller {
  padding: 10px 0;
}

.main_item__seller {
  font-weight: bold;
  color: var(--primary-color);
}

.buy__actions {
  text-align: center;
}

.buy__actions button {
  width: 40px;
  height: 40px;
  font-size: 20px;
  border-radius: 50%;
  border: none;
  transition: all 0.4s;
  background-color: rgb(185, 185, 185);
  margin-inline: 10px;
}

.buy__actions button:first-of-type:hover {
  background-color: rgb(1, 213, 1);
}

.buy__actions button:last-child:hover {
  background-color: rgb(255, 77, 0);
}

#side__panel {
  padding: 10px;
  border: 1px rgba(139, 139, 139, 0.552) solid;
  border-radius: 10px;
  overflow: hidden;

  transition: all 0.4s;
  text-align: center;
  user-select: none;
}

#side__panel:hover {
  box-shadow: 1px 3px 5px rgba(70, 70, 70, 0.532);
  cursor: pointer;
}
/*  */
